<p>Some of my code can be found in my github page here: <a href="https://github.com/oiertwo">github/oiertwo</a> and other in my gitlab page: <a href="https://gitlab.com/oiertwo"> gitlab/oiertwo</a></p>
<p>My most updated research information can be found in my <a href="http://www.ehu.eus/ccwintco/index.php?title=Usuario:Oier.echaniz">EHU/UPV GIC lab web page</a>.</p>
<p>Not updated things about me can be found also in my ResearchGate profile:&nbsp; <a href="https://www.researchgate.net/profile/Oier_Echaniz"> Oier Echaniz @ ResearchGate</a></p>
<p>and my ORCID: <a href="https://orcid.org/0000-0001-6800-1518">0000-0001-6800-1518</a></p>
<p>I have also a linkedin "profesional" profile: <a href="https://www.linkedin.com/in/oier-echaniz-93887a38/"> Oier Echaniz @ Linkedin</a> </p>
<p>I have a not very update blog in spanish where i post some computer related stuff sometimes. Title of the blog is in basque, Asmatzen, what means "inventing": <a href="https://asmatzen.wordpress.com/">https://asmatzen.wordpress.com/</a></p>
<p>You can find me in social networks too, mostly in twitter: <a href="https://twitter.com/oiertwo">@oiertwo</a></p>
<p>Books I read i list them in <a href="https://www.goodreads.com/author/show/18626414.Oier_Echaniz">My GoodReads Profile</a>.</p>
  
