
<div class="col-lg-4">
    <div class="card">
        <div class="card-header"> About </div>
        <div class="card-body text-dark">
          <!-- ABOUT BLOG SIDEBAR-->
          <p>I post in other places you might be interested too:</p>
          <a href="http://hatza.eus">Hatza.eus (In Basque)</a> </br>
          <a href="https://asmatzen.worspress.com">Asmatzen (In Spanish)</a>
        </div>
    </div>
    <div class="card">
        <div class="card-header">Categories </div>
        <div class="card-body text-dark">
            {%- include blog_categories.html -%}
        </div>
    </div>
</div>
