---
layout: default
---

<div class="card">
  <h1 class="card-title">Projects i am involved</h1>
</div>

    <div class="row">
      {% for project in site.author_project_details %}
        <div class="col-lg-6">
            <div class="card">
                <br />
                {% if project.visibility == true %}
                <div class="row">
                        <div class="col-md-3">
                            <img src="/assets/img/{{project.project_thumbnail}}" class="company-logo" />
                        </div>
                        <div class="col-md-8">
                            <h4 class="experience-title"> {{ project.project_title }}</h4>
                            <h6 class="experience-info"> {{ project.project_info}}</h6>
                            <p class="experience-desc"> {{ project.project_description }} </p>
                            <p><a href="{{ project.project_url }}">{{ project.project_url}}</a></p>
                        </div>
                    </div>
                    {% endif %}
            </div>
            </div>
            {% endfor %}

        </div>
